
$font-path: "../assets/fonts";


$app-direction: ltr;


@import "ionic.globals";


$colors: (
  primary:    #6495ed,
  secondary:  #3F51B5,
  danger:     #f53d3d,
  light:      #fff,
  dark:       #222
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

//Top Toolbar 
$toolbar-md-background : color($colors, secondary);

//Bottom Tabs
$tabs-md-background : color($colors, dark);
$tabs-md-tab-color-active : color($colors, light);
$tabs-md-tab-color: color($colors, light);
$tabs-md-tab-text-color : color($colors, light);

$list-md-background-color:color($colors, dark);
$list-md-text-color:color($colors,light);


@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";




@import "roboto";
@import "noto-sans";
