.home{
    background:color($colors,light);
    color:color($colors,dark);
    margin-top:25px;
}

.toolbar-title{
    text-align:center;
}

.tabs-md .tab-button-icon{
    color:#ccc;
}

.temp{
    font-size:50px;
    text-align:center;
    font-weight:normal;

}

.location,.icon,.desc{
    text-align:center;
}

.icon img{
    width:80px;
}

.location{
    font-size:40px;
}

.desc{
    font-size:30px;
}